body {

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {

  flex: 1 0 auto;
}

.refresh, .about {
  margin-right: 50px;
}

.footer {
  padding-bottom: 20px;
}

.gender-color {
  background-color: rgb(228, 236, 115);
}

.show {
  display: initial;
}

.hide {
  display: none;
}